/*
    Document   : labs/cst336_Lab2/css/styles．css
    Created on : 2015-02-11 06:35 PM
    Author     : reye6671
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

/*
    Document   : labs/lab1/css/styles．css
    Created on : 2015-01-28 07:44 PM
    Author     : reye6671
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/               
          
        img{
            border: purple 10px solid;
            border-radius: 20px;
            margin-left: 7px;
        }
        
        img:hover{
            opacity: .5;
            border: 1px solid blue;
            transition: all 2s;
        }
        
        /* Gave multiple options incase the font family is not available in the browser*/
        body{
            font-family: Verdana, Arial, Times New Roman; 
            background: black;
        }

        h4{
            color: white;
            text-align:left;
        }

        footer{
            color: white;
        }
        